
body{
    padding: 0px;
    margin: 0px;
    /*font-family: 'Maven Pro', sans-serif;*/
    font-family: 'Scada', sans-serif;
   /*  background:#2C2936; */

}
body::-webkit-scrollbar {
    width: 0.8em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #45424B;
  outline: 1px solid #777;
}
p{
    padding: 0px;
    margin: 0px;
}
.light-bold{
    font-weight: 300 !important;
}
#cashEnvoy{
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #777  !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #777 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #777 !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #777  !important;
}
.disappear{
    display: none;
}
.navbar-default {
    /*background: #2858D3 !important;*/
    background: #2C2936 !important;
    /* background: transparent !important; */
    border: 0px !important;
    border-color: transparent !important;
    border-radius: 0px !important;
    margin-bottom: 0px;
    -webkit-box-shadow: 0 4px 2px -2px #777;
    -moz-box-shadow: 0 4px 2px -2px #777;
    box-shadow: 0 4px 2px -2px #777;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}


/* Link */

.navbar-default .navbar-nav {}

.navbar-default .navbar-nav>li>a {
    color: #fff !important;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #f9f9f8;
}

.navbar-default .navbar-nav>.active>a {
    color: rgba(229, 4, 4, 0.72);
    background: transparent !important;
}

/* Mobile version */

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #211E2A;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-brand img{
  margin-top: -3px !important;
}

.banner1{
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: auto;
    /*background: #2858D3;*/
    background: #2C2936;
}
.banner1:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform-origin: top left;
    transform: skewY(8deg);
    -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.pt-10{
    padding-top: 10px !important;
}
.main-form2{
    color: #222;
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.main-form2:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
}
.main-form2 form{
    padding: 10px;
}
.main-form2 form input{
  color: #222 !important;
}

.main-form{
    color: #ddd;
    background: #2C2936;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0 1px 3px 0px rgba(255, 255,255, 0.2);
    box-shadow: 0 1px 3px 0px rgba(255, 255, 255, 0.2);
}

.main-form form{
    color: #ddd;
    padding: 10px;
    overflow: hidden;
}
.main-form form input{
  color: #fff !important;
}
select{
    color: #fff !important;
    /*background: #2858D3 !important;*/
}
.main-form:hover{
    box-shadow: 0px 8px 36px 0px #777;
    transition: 0.5s;
}
.form-control option{
    background:#2C2936 !important;
}
.acctName{
    border-bottom: 1px solid #fff;
    padding-bottom: 12px;
}
.btn-flex{
    color: #211E2A !important;
    background: #fff !important;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.btn-flex2{
    color: #fff !important;
    background: #211E2A !important;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.btn-flex2:hover{
color: #eee !important;
    border-radius: 20px !important;
    box-shadow: none !important;
    transition:all 2s !important;
}
.btn-flex:hover{
    color: #222 !important;
    border-radius: 30px !important;
    box-shadow: none !important;
    transition: all 1s !important;
}
.banner-img img{
    margin-top: 15px;
}
.form-control{
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #ddd !important;
    box-shadow: none !important;
    background: transparent !important;
}
.shadow-text2{
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
}
.lil{
    margin-top: 50px;
    position: relative;
}
.lil ul{
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 15%;
    top: 40% !important;
}
.lil ul li{
    display: block;
    width: 200px;
    height: 200px;
    background: #fff;
    position: absolute;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    top: 0;
    left:0;
    transform-origin: bottom center;
    transform: rotate(10deg) skew(-30deg);
    transition: 0.5s;
}
.lil ul li span{
    display: block;
    color: #ccc;
    text-align: center;
    font-size: 1.5em;
}
.lil ul li p{
    color:#777;
    font-size: 1.1em;
    padding: 2px 5px;
}
.lil ul li:nth-child(1){
    transform: rotate(10deg) skew(-30deg) translate(15px, 15px);
     background: url('../img/2.png');
background-size: cover;
background-repeat: no-repeat;
}
.lil ul li:nth-child(2){
    transform: rotate(10deg) skew(-30deg) translate(0px, 0px);
}
.lil ul li:nth-child(3){
    transform: rotate(10deg) skew(-30deg) translate(-15px, -15px);
}

.lil ul:hover li:nth-child(1){
transform: rotate(5deg) skew(0deg) translate(200px, 0);
}

.lil ul:hover li:nth-child(2){
transform: rotate(0deg) skew(0deg) translate(0, 0);
}

.lil ul:hover li:nth-child(3){
transform: rotate(-5deg) skew(0deg) translate(-200px, 0);
}

.lil ul li:before{
    content: '';
    position: absolute;
    width: 50%;
    height: 10px;
    left: 0;
    bottom: 0;
    background: #E83A3E;
    transition: 0.5s;
}
.lil ul li:after{
    content: '';
    position: absolute;
    width: 50%;
    height: 10px;
    right: 0;
    bottom: 0;
    background: #211E2A;
    transition: 0.5s;
}
.lil ul li:hover:before{
    left: 50%;
}
.lil ul li:hover:after{
    right: 50%;
}
.sponsor{
    padding-top: 130px;
}
.sponsor h3{
    color: #777;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}
.footer{
    padding: 10px 0px;
    background: #211E2A;
    color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.footer-msg{
    font-size: 1.1em;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
}

/*Modal*/
#myModal{
}
.modal-content{
}
/*Modal ends*/
.get_started{
    padding: 5px 10px !important;
    border: 0px !important;
    color: #eee !important;
    background: #2C2936 !important;
    border-top-left-radius: 30px;
    border-bottom-left-radius:30px;
    border-top-right-radius: 30px;
     -webkit-box-shadow: 0 1px 3px 0px #777;
    -moz-box-shadow: 0 1px 3px 0px #777;
    box-shadow: 0 1px 3px 0px #777;
}
.get_started:hover{
    box-shadow: 0px 8px 26px 0px #777;
    transition: .5s;
}
